spring:
  devtools:
    restart:
      enabled: false

  task:
    scheduling:
      pool:
        size: 1

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

external:
  weather:
    base-url: ${WEATHER_BASE_URL}
    service-key: ${WEATHER_KEY}
    data-type: JSON
    num-of-rows: 10
    page-no: 1

naver:
  api:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}

server:
  port: ${PORT:8080}
